  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200&family=Ubuntu:wght@400;500;700&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body {
    width: 100%;
    background: #E5E7EB;
    position: relative;
    display: flex;
  }
/*-------------INDEX PAGE STYE-------------------*/
  .home {
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), 
    url(/images/construction-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.home h1 {
    text-align: center;
    font-weight: 600;
}
.home .home-btn {
  background: #fff;
  border-radius: 5px;
}
.home .home-btn a {
  text-decoration: none;
  color: #111827;
  padding: 10px 20px;
  font-weight: 700;
}
.home .home-btn a:hover {
  color: #fff;
}
.home .home-btn:hover {
  background: #000000;
  color: #f5f5f5;
}

/*-----------DASHBOARD STYLE-------------------*/
  #menu {
    background: #111827;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
 #menu .logo img {
    width: 40px;
    margin-right: 15px;
    border-radius: 50%;
  }
  #menu .logo {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px 0 0 30px;
  }
  #menu .items {
    margin-top: 40px;
  }
  #menu .items li {
    list-style: none;
    padding: 10px 0;
    transition: 0.3s ease;
  }
  .svg-inline--fa {
    color: rgb(134, 141, 151);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}
  #menu .items li a {
    text-decoration: none;
    color: rgb(134, 141, 151);
    font-weight: 300px;
    transition: 0.3s ease;
    margin-left: 15px;
  }
  #menu .items li:hover {
    background: #253047;
    cursor: pointer;
  }
  #menu .items li:nth-child(1) {
    border-left: 4px solid #fff;
  }
  #menu .items li:hover i,
  #menu .items li:hover a {
    color: #F3F4F6;
  }

  #interface {
    width: calc(100% - 300px);
    margin-left: 300px;
    position: relative;
  }
  #interface .navigation {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid #594ef7;
    align-items: center;
    position: fixed;
    width: calc(100% - 300px);
  }
  
  #interface .navigation .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid #d7dbe6;
    border-radius: 4px;
  }
  #interface .search i {
    margin-right: 14px;
  }
  #interface .search input {
    border: none;
    outline: none;
    font-size: 14px;
  }
  #interface .navigation .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #interface .navigation .profile i {
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
  }
  #interface .profile img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }
  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #menu-btn {
    display: none;
    color: #2b2b2b;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
  }
  .i-name {
    color: #444a53;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 70px;
  }
  .values {
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .values .val-box {
    background: #fff;
    width: 235px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .values .val-box i {
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-right: 15px;
  }
  .values .val-box i:nth-child(1) {
    background: #7B74EC;
  }
  .values .val-box i:nth-child(2) {
    background: #5c8af0;
  }
  .values .val-box i:nth-child(3) {
    background: #e45d99;
  }
  .values .val-box i:nth-child(4) {
    background: #74DAEC;
  }
  .values .val-box h3 {
    font-size: 18px;
    font-weight: 600;
  }
  .values .val-box span {
    font-size: 15px;
    color: #828997;
  }


/*-------Table style---------*/
.board {
  width: 94%;
  margin: 30px 0 30px 30px;
  overflow: auto;
  background: #fff;
  border-radius: 8px;
}
.board img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}
.board h5 {
  font-weight: 600;
  font-size: 14px;
}
.board p {
  font-weight: 400;
  font-size: 13px;
  color: #787d8d;
}
.board .people {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
}

table {
  border-collapse: collapse;
}
tr {
  border-bottom: 2px solid #eef0f5;
}
thead td {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  background: #F9FAFB;
  text-align: start;
  padding: 15px;
}
tbody tr td {
  padding: 10px 15px;
}
.active {
  background: #d7fada;
  padding: 2px 10px;
  display: inline-block;
  border-radius: 40px;
  color: #2b2b2b;
}
/*
.edit a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #554cd1;
}*/

.down {
  margin-top: 120px;
}
.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 25px;
}
.pages .pre {
  background: #828997;
  color: #fff;
  padding: 5px 15px;
  margin-left: 15px;
  cursor: pointer;
}


/*--------MEDIA QUERY----------*/
@media (max-width: 769px) {
  #menu {
    width: 270px;
    position: fixed;
    left: -270px;
    transition: 0.3s ease;
  }
  #menu.active {
    left: 0px;
  }
  #menu-btn {
    display: initial;
  }
  #interface {
    width: 100%;
    margin-left: 0px;
    display: inline-block;
    transition: 0.3s ease;
  }
  #menu.active~ #interface {
    width: calc(100% - 270px);
    margin-left: 270px;
    transition: 0.3s ease;
  }
  #interface .navigation {
    width: 100%;
  }
  .values {
    padding: 30px 30px 0 30px;
    justify-content: flex-start;
  }
  .values .val-box {
    padding: 16px 20px;
    margin: 10px 20px 10px 0;
  }
  .board {
    width: 92%;
    padding: 0;
    overflow-x: auto;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }


}

/*----MEDIA QUERY FOR MOBILE SCREEN-------*/
@media (max-width: 477px) {
  #interface .navigation {
    padding: 15px;
  }
  #interface .navigation .search input {
    width: 150px;
  }
  .i-name {
    padding: 30px 15px 0 15px;
  }
  .values {
    padding: 15px 15px 0 15px;
  }
  .values .val-box {
    width: 100%;
    margin: 8px 0;
  }
  .board {
    margin: 30px 15px 30px 15px;
  }


}



/*----LOGIN PAGE STYLE-----*/
.login-page,
.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
}
.login,
.register {
    background: rgb(210, 210, 210);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 10px;
}
.login h2,
.register h2 {
    text-align: center;
    margin: 15px 0;
}
.login label {
    font-size: 20px;
    padding: 10px 0 0 0;
}
.login input,
.register input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 18px;
    margin: 10px 0;
}
.login button {
    border-radius: 5px;
    background: #111827;
    margin: 10px 0;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    outline: none;
    border: none;
}
.login button:hover {
    border: 1px solid #fff;
    background: #000000;
    color: #fff;
}
.login a {
    color: #0963a7;
    font-size: 18px;
}
.forgotpassword {
    text-align: center;
    padding: 15px 0;
}

/*------Forgot password page style------------*/
.forgotpassword-alert {
    text-align: center;
    color: #0963a7;
    font-size: 18px;
}

/* ------------Register page style-------------*/
.register p {
    text-align: center;
}
.register a {
    color: #0963a7;
}
.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.checkbox p {
    padding-left: 10px;
}

/*-----------TABS INVENTORY STYLE----------------*/
.tabContainer {
  width: 95%;
  margin-left: 30px;
}
.tabContainer .buttonContainer {
  height: 20%;
}
.tabContainer .buttonContainer button {
  width: 25%;
  height: 100%;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  color: #111827;
}
.tabContainer .buttonContainer button:hover {
  color: #787d8d;
  background: #2b2b2b;
}

.tabContainer .tabPanel {
  padding-top: 50px;
  box-sizing: border-box;
  display: none;
}
element.style {
  /* background-color: rgb(244, 67, 54); */
  color: white;
}

.inventory-btn {
  margin: 15px 0 15px 30px;
  background: #0963a7;
  border-radius: 5px;
  width: 110px;
  padding: 5px 10px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.board .thead .td {
  padding: 15px 5px;
  width: 200px;
  font-size: 14px;
  font-weight: 400;
  color: #111827;
}
table tbody .site {
  width: 300px;
  padding: 15px 0;
}
.board .thead .sn {
  padding: 5px 8px;
}

/* Popup add item style */
.popup {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms;
                opacity: 200ms ease-in-out 0ms;
                transform: 200ms ease-in-out 0ms;
}
.popup.active {
    top: 30%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 200ms;
                opacity: 200ms ease-in-out 0ms;
                transform: 200ms ease-in-out 0ms;

}
.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.popup h3 {
  margin: 10px 0;
  text-align: center;
}
.popup select {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
}
.popup label {
  display: block;
  margin-top: 10px;
}
.popup input {
  display: block;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: 1px solid #828997;
  color: #444a53;
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.1);
}
.popup .add-item-btn {
  background: #0963a7;
  padding: 5px 10px;
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  float: right;
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.1);
}

/*------ESTIMATE PAGE STYLE--------*/
.receipt-table-head {
  margin: 5px 60px;
  width: 90%;
  background: #111827;
  color: #787d8d;
}
.table {
  width: 90%;
  margin: 0 60px;
}
.table #tablehead tr th {
  text-align: start;
}
.table #newtr tr td {
  text-align: start;
}
tbody tr td {
  padding: 2px 10px; 
}

